<app-calendar7day class="calendar"></app-calendar7day>

<div>
  <button (click)="socketService.sendMessage('updateCourse',{})">Обновить БД</button>
  <div *ngIf="socketService.MESSAGE_LOG['method']=='updateCourse'">
    <div>pair {{socketService.MESSAGE_LOG['data'].pair}}</div>
    <div> startDate {{socketService.MESSAGE_LOG['data'].startDate}}</div>
    <div *ngIf="socketService.MESSAGE_LOG['data'].type"> type {{socketService.MESSAGE_LOG['data'].type}}</div>
    <div *ngIf="socketService.MESSAGE_LOG['data'].length"> length {{socketService.MESSAGE_LOG['data'].length}}</div>

  </div>
</div>
